<!DOCTYPE html>
<html>
<head>
  <title>Chive</title>
  <%= stylesheet_link_tag    "chive/application", media: "all" %>
  <%= javascript_include_tag "chive/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
